@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 174 221 255;
    --foreground: 0 0 0;
    --secondary: 255 255 255;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

.bg-card {
  background-color: rgba(255, 255, 255, 0.7);
}