@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 174 221 255;
    --foreground: 0 0 0;
    --secondary: 255 255 255;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

.bg-card {
  background-color: rgba(255, 255, 255, 0.7);
  @apply border-transparent;
}

.fortuna-header {
  @apply text-center text-3xl md:text-5xl text-white;
  text-shadow: 3px 0 #E2BC44, -3px 0 #E2BC44, 0 3px #E2BC44, 0 -3px #E2BC44, 3px 3px #E2BC44, -3px -3px #E2BC44, 3px -3px #E2BC44, -3px 3px #E2BC44;
  overflow-wrap: anywhere;
}

.fortuna-header-small {
  @apply text-center text-xl md:text-3xl text-white;
  overflow-wrap: anywhere;
  text-shadow: 3px 0 #E2BC44, -3px 0 #E2BC44, 0 3px #E2BC44, 0 -3px #E2BC44, 3px 3px #E2BC44, -3px -3px #E2BC44, 3px -3px #E2BC44, -3px 3px #E2BC44;
}